# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/
dist/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
.vscode/
.idea/

# Vercel
.vercel

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log
pubsub-debug.log
storage-debug.log
emulator-data/
functions/node_modules/
functions/lib/

# Misc
*.tsbuildinfo
next-env.d.ts
